<div class="crud-form">
	<div class="crud-input">
		<span>ISBN:</span>
		<input type="text"/>
	</div>

	<div class="crud-input">
		<span>Book name:</span>
		<input type="text" />
	</div>

	<div class="crud-input">
		<span>Author:</span>
		<input type="text" />
	</div>

	<div class="crud-input">
		<span>Publish date:</span>
		<input type="date" />
	</div>

	<div class="crud-input">
		<span>Language:</span>
		<input type="text" />
	</div>

	<div class="crud-input">
		<span>Editorial:</span>
		<input type="text" />
	</div>

	<div class="crud-input">
		<span>Status:</span>
		<input type="text" />
	</div>

	<div class="crud-input">
		<span>Quantity:</span>
		<input type="text" />
	</div>
</div>

<div class="crud-submit">
	<input type="submit" value="Submit" (click)="onSubmitClick()">
</div>