<div class="crud-form">
	<div class="crud-input">
		<span>ISBN:</span>
		<input type="text" />
	</div>

	<div class="crud-input">
		<span>Book name:</span>
		<input type="text" />
	</div>

	<div class="crud-input">
		<span>Author:</span>
		<select>
			<option *ngFor="let option of authors">
				{{option.name}}
			</option>
		</select>
	</div>

	<div class="crud-input">
		<span>Publish date:</span>
		<input type="date" />
	</div>

	<div class="crud-input">
		<span>Language:</span>
		<select>
			<option *ngFor="let option of languages">
				{{option.value}}
			</option>
		</select>
	</div>

	<div class="crud-input">
		<span>Editorial:</span>
		<select>
			<option *ngFor="let option of editorials">
				{{option.name}}
			</option>
		</select>
	</div>

	<div class="crud-input">
		<span>Status:</span>
		<input type="text" />
	</div>

	<div class="crud-input">
		<span>Quantity:</span>
		<input type="text" />
	</div>
</div>

<div class="crud-submit">
	<input type="submit" value="Submit" (click)="onSubmitClick()">
</div>