<!-- TODO: Set style class -->
<table class="">
	<thead>
		<tr>
			<th>ISBN</th>
			<th>Book name</th>
			<th>Author name</th>
			<th>Publish date</th>
			<th>Language</th>
			<th>Editorial name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<!-- TODO: Fill the table -->
		<tr>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td></td>
			<td>
				<input type="button" value="Delete" (click)="onDeleteClick(books[0])">
				<input type="button" value="Update" (click)="onUpdateClick(books[0])">
			</td>
		</tr>
	</tbody>
</table>