<table class="table table-striped">
	<thead>
		<tr>
			<th>ISBN</th>
			<th>Book name</th>
			<th>Author name</th>
			<th>Publish date</th>
			<th>Language</th>
			<th>Editorial name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let book of data">
			<td>{{book.isbn}}</td>
			<td>{{book.bookName}}</td>
			<td>{{book.authorName}}</td>
			<td>{{book.publishDate}}</td>
			<td>{{book.language}}</td>
			<td>{{book.editorialName}}</td>
			<td><input type="button" value="Delete" (click)="onDeleteClick(book)"></td>
		</tr>
	</tbody>
</table>